{% load i18n %}
{% load mptt_tags %}
<div class="navbar main-nav">
<div class="navbar-inner">
<div class="container">
        <ul class="sf-js-enabled sf-shadow nav">
        {% for top_category in categories %}
            
            <li id="cat_{{ top_category.id }}" class="main-category {{ top_category.id }}">
                <a class="a_category sf" href="{% url lfs_category top_category.slug %}">{{ top_category.name }}</a>

                {% if top_category.get_children|length >= 1 %}<ul  id="sub-nav" class="delay container dropdown-menu sf-menu sub-nav{{ top_category.id }} ">
                    {% if not top_category.is_leaf_node %}
                            {% for category in top_category.get_children %}
                            {% if forloop.first %}

                            <div  class="category_row span4">
                            {% endif %}

                            <li class="category_name"><a class="red" href="{% url lfs_category category.slug %}">{{ category.name }}({{ category.product_count }})</a>
                            {% if not category.is_leaf_node %}
                                <ul class="delay dropdown-menu column{{ category.extras.column }}" >
                                    {% for item in category.get_children %}
                                        <li><a class="subcat-item" href="{% url lfs_category item.slug %}">{{ item.name }}</a></li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </li>
                            {% if forloop.counter|divisibleby:top_category.extras.row %}
                {% if forloop.last %}
                    </div>
                {% else %}

                    </div>
                    <div class="category_row span4">
                {% endif %}
            {% endif %}

                            {% endfor %}
                        
                    {% endif %}
                                 <script type="text/javascript"> 
                    $(".sub-nav{{ top_category.id }}").hover(

                        function () {
                            $(".main-category.{{ top_category.id }}").addClass("hover");
                        },
                        function () {
                            $(".main-category.{{ top_category.id }}").removeClass("hover");
                    });
                    $(".cart-content.{{ top_category.id }}").hover(
                        function () {
                            $(".main-category.{{ top_category.id }}").addClass("hover");
                        },
                        function () {
                            $(".main-category.{{ top_category.id }}").removeClass("hover");
                    });






                    </script>
                </ul>{% endif %}
            </li>   
        {% endfor %}
        </ul>
</div>
</div>
</div>





<script type="text/javascript"> 

$(document).ready(function() {
$(".sf-shadow").hover(
    function() {
   
      /* Курсор мыши зашел в область навигации */
      var nav = $(this).removeClass("out").removeClass("sf-menu");

      setTimeout(function() {
        nav.addClass("sf-menu");
      }, 400);
       
    }, 
    function() {
       
      /* Потеря фокуса ввода */

      $('.sf-shadow').addClass("out").removeClass("sf-menu");
       
    });
});
</script>