{% extends "lfs/base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password reset complete' %}{% endblock %}
{% block section %}password-reset-complete{% endblock %}

{% block breadcrumbs %}
<script>
$("#middle-slot-container").attr("class",  "main-style");
</script>
    <ul class="breadcrumb">
        <li>
            <a href="{% url lfs_shop_view %}">
                <i class="icon-home"></i></a> /
        </li>
        <li>
            {% trans "Password reset" %}
        </li>
    </ul>
{% endblock %}

{% block content %}
    <h1 class="first-heading">
        {% trans 'Password reset complete' %}
    </h1>
    <p>
        {% trans "Your password has been set. You may go ahead and log in now." %}
    </p>
    <p class="buttons">
        <a href="http://rybki.p-cart.com/login">{% trans 'Log in' %}</a>
    </p>
{% endblock %}
