{% extends "lfs/base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password reset successful' %}{% endblock %}
{% block section %}password-reset-done{% endblock %}

{% block breadcrumbs %}

    <ul class="breadcrumbs">
        <li>{% trans 'You are here:' %}</li>
        <li>
            <a href="{% url lfs_shop_view %}">
                {% trans 'Home' %}</a> &gt;
        </li>
        <li>
            {% trans "Password reset" %}
        </li>
    </ul>
{% endblock %}

{% block wrapper %}
<script>
$("#content").attr("class",  "main-style");
</script>
    <h1 class="first-heading">
        {% trans 'Password reset successful' %}
    </h1>
    <p>
        {% trans "We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly." %}
    </p>
{% endblock %}
