{% load url from future %}
<div class="portlet {{news.0.category.all.0.slug}}">
    <div class="portlet-header">
        <h4>
            <a href="{% url 'scms_view_category' news.0.category.all.0.slug %}">{{preview_portlet.title}}</a>
        </h4>
    </div>
    {% for n in news %}
    <div class="row-fluid"><div class="span2">

        {% if n.icon %}
            <img src='{{MEDIA_URL}}{{n.icon}}'>
        {% endif %}
        </div>
        <div class="span10">
        <p><a href="{% url 'scms_view_news' n.category.all.0.slug n.slug %}" class="href-title">{{ n.title }}</a></p>
        {% if preamble %}
            <p>{{ n.preamble|safe }}</p>
        {% endif %}
        <div class="link-to-all pull-right"><a href="{% url 'scms_view_category' news.0.category.all.0.slug %}">читать еще</a></div>
         </div>
        </div>
    {% endfor %}
    </div>
<script type="text/javascript">
    {% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
    {% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>