{% load i18n %}
<div class="row-fluid inner-shadow">
        {% with amount=cart.get_amount_of_items %}
        {% if amount == 0 or not cart %}
        <div class="span12">
            <img  src="{{ STATIC_URL }}img/empty-cart.png">
        </div>    
        <div class="row-fluid"><div class="span12"><p>{% trans "Cart is empty." %}</p></div></div>
    </div>
        {% else %}
        <div class="span6">
            <img src="{{ STATIC_URL }}img/full-cart.png">
        </div>    
        <div class="span6">  
           
            <p>{% trans "Товаров" %}: <span>{{ amount|floatformat }}</span></p>
            <p>{% trans 'На сумму' %}: <span>{{ total_price|floatformat }} {{ SHOP.default_currency.abbr }}</span></p>
        </div>
            <div class="row-fluid">
            <div class="span12">
            <a id="clear-cart" >{% trans 'Очистить' %}</a>
            </div>
                <div class="span12 wrap-btn-cart"> <a class="btn btn-small done-offer" href="{% url lfs_checkout %}">{% trans "Оформить заказ" %}</a></div> </div> 
        </div> 

        {% endif %}
        {% endwith %}

<script type="text/javascript">
    $("#clear-cart").click(function(){
        $('#cart-container').load('{% url lfs_clear_cart %}');
    });
</script>
