{% extends "lfs/base.html" %}
{% load i18n %}
{% load lfs_tags sshop_tags %}
{% load url from future %}

{% block title %}
    {% trans "Comparison" %}
{% endblock %}

{% block section %}{% endblock %}

{% block head %}{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs _("Comparison") %}
{% endblock %}

{% block content %}
<script>
$("#content").attr("class",  "main-style");
</script>
    {% if comparison_list %}
    <table class="table table-striped table-hover">
      <tbody>
        <tr>
            <td></td>
            {% for item in comparison_list %}
            <td><div class="compare-item-wrap"><a href="{% url 'lfs_product' item.slug %}"><div class="compare-image-wrap"><img src="{{ item.get_image.image.url_60x60 }}"></div></a><br><a href="{% url 'lfs_product' item.slug %}">{{ item.get_name }}</a><a href="{% url 'lfs_comparison_remove_product' item.id %}"><i class="icon-remove"></i></a></div></td>
            {% endfor %}
        </tr>

        {% for prop_group, prop_value in properties.items %}
        {% if prop_group %}<tr>
        <td><strong>{{ prop_group }}</strong></td><td colspan="{{ comparison_list.count }}"></td>
        </tr>{% endif %}
            {% for prop, value in prop_value.items %}
            <tr>
                <td>{{ prop }}</td>
                {% for item in comparison_list %}
                <td>{{ value|lookup:item.pk }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>{% trans 'Not selected any product.' %}</p>
        <a href="/">Перейти на главную</a>
    {% endif %}
{% endblock %}
{% block middle-slot %}{% endblock %}
{% block left-slot %}{% endblock %}
{% block right-slot %}{% endblock %}
{% block body_bottom %}
  <script>
  mediator.publish('change_slots_width', "span3", "span12", "span12");
  </script>
{% endblock %}