{% if is_paginated %}
{% load i18n %}
<div class="pagination">
    <div class="search-res">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}{{ getvars }}" class="prev">&lt;&lt; {% trans "Previous page" %}</a>
    {% else %}
        <span class="disabled prev">&lt;&lt; {% trans "Previous page" %}</span>
    {% endif %}
    {% for page in pages %}
        {% if page %}
            {% ifequal page page_obj.number %}
                <span class="current page">{{ page }}</span>
            {% else %}
                <a href="?page={{ page }}{{ getvars }}" class="page">{{ page }}</a>
            {% endifequal %}
        {% else %}
            <span class="dots">...</span>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}{{ getvars }}" class="next">{% trans "Next page" %} &gt;&gt;</a>
    {% else %}
        <span class="disabled next">{% trans "Next page" %} &gt;&gt;</span>
    {% endif %}
</div>
</div>
{% endif %}
