{% load i18n lfs_tags lfs_theme_tags lfs_portlets_tags sshop_tags compress cache %}
{# load regions_tags #}
{% load vertical_menu_tags %}
{# {% load snippets_tags %} #}
{% load seo_data %}
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="nl"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="nl"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="nl"><![endif]-->
<!--[if IE]><html class="no-js ie" lang="nl"><![endif]-->
<!--[if !IE]><!--><html class="no-js" lang="{{ LANGUAGE_CODE }}"><!--<![endif]-->
<head>
    {# {% snippets 'Head top' %} #}
    <meta charset="utf-8">
    <meta name="author" content="7bits and aquaweb">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}{% get_title %}{% endblock %}</title>
    <meta name="keywords" content="{% get_keywords %}" />
    <meta name="description" content="{% get_description %}" />   
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png" type="image/png" />
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=McLaren">
    <script>__locale='{{ LANGUAGE_CODE }}';</script>
    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/nivo-slider.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}nivo-themes/bar/bar.css" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}nivo-themes/default/default.css" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery-ui/css/custom-theme/jquery-ui-1.9.2.custom.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery/jquery.jgrowl.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/superfish.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/colorbox.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dcmegamenu.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/white.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css">
        <link type="text/stylus" rel="stylesheet"
            href="{{ STATIC_URL }}styles/styles.styl" charset="utf-8">
        <link type="text/stylus" rel="stylesheet"
            href="{{ STATIC_URL }}styles/vertical_slider.styl" charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.custom.css">
        <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}styles/styles.custom.less" charset="utf-8">
        <link type="text/stylus" rel="stylesheet" href="{{ STATIC_URL }}styles/styles.custom.styl" charset="utf-8">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/nivo-slider.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}nivo-themes/bar/bar.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ STATIC_URL }}nivo-themes/light/light.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/vertical_menu.css">
        <link rel="stylesheet" type="text/css" href="/static/css/jcarousel/tango/skin.css" />
    {% endcompress %}

    {% compress js %}
        <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}src/gettext.coffee" />
        <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}src/locale/ru.coffee" />
        <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}src/locale/uk.coffee" />
        <script type="text/javascript" src="{{ STATIC_URL }}js/modernizr-2.6.2.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/respond.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery-ui/js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.menu-aim.js"></script>
        <!-- <script type="text/javascript" src="{{ STATIC_URL }}jquery-ui/js/jquery-ui-1.8.16.custom.min.js"></script> -->
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.form.pack.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.jgrowl_minimized.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.cookie.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/superfish.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.menu-aim.js"></script> <!-- add for amazon submenu-->
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.nivo.slider.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jcarousel.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/lfs.js"></script>
        <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}src/shop.coffee" />
        {# All plugins should be loaded after this line #}
        <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}src/vertical_slider.coffee" />
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.colorbox-1.3.19.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dcmegamenu.1.3.3.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/maskedinput.js"></script>

        <script  type="text/javascript" src="{{ STATIC_URL }}js/script.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/script.custom.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}src/script.custom.coffee"></script>
    {% endcompress %}

    {% include 'lfs/extra_css.html' %}

    {# {% snippets 'Head bottom' %} #}
</head>
<body class="{% block section %}{% endblock %}">
    {% block header_messages %}
        {% if request.maintenance_messages %}
        <div>
        {% for m in request.maintenance_messages %}
        {% if m.type > 0 %}   
            <div class="alert alert-warning">{{ m.message }}</div>
        {% endif %}
        {% endfor %}
        </div>
        {% endif %}
    {% endblock %}

    {# {% snippets 'Body top' %} #}
    <div id="seo-text-wrapper">
        {% get_seo_text_new %}
    </div>
    <div id="wrap">
        <div class="wrap-header">
    <div id="header">
        <div class="wrap-top-bar">
        <div id="top-bar-container" class="container"> {# Client script use this container for insert top bar here by ajax #}
            <img src="{{ STATIC_URL }}img/horizontal-ajax-loader.gif">
        </div>
        </div>
         <div class="row-fluid print-hide container g-text">
            <div class="span4"></div>
            <div class="span3"><em><p>Звоните нам </p></em></div>
            <div class="span2"><em><p>График работы</p></em></div>
            <div class="span3"></div>
        </div>

         <div class="row-fluid print-hide container h-content">
            {% block header %}

            <div class="span4">
                <a href="/"><img src="{% if SHOP.image %}/media/{{ SHOP.image }}{% else %}{{ STATIC_URL }}img/logo.png{% endif %}" alt="Logo"></a>
                {# show_regions #}
            </div>
            <div class="span6">
                 <div class="row-fluid" id="static_block">
                        {% static_block "header" %}
                </div>
                <div class="row-fluid print-hide">
                    <div class="span12 wrap-search">
                        {% include "lfs/search.html" %}
                        {# <a href="/callback" class="modal-link pull-right">{% trans "Callback" %}</a> #}
                    </div>
                </div>
                <br>
            </div>
            <div class="span2">
                {# Client script use this container for load cart here by ajax #}
                <div id="cart-container"><img src="{{ STATIC_URL }}img/horizontal-ajax-loader.gif"></div>
            </div>
            {% endblock %}
        </div>
    
    </div>
</div>
    <div class="row-fluid print-hide">
            {% vertical_menu %}
     </div>
    <div class="container main-content-wrap"> {# Use class "container-fluid" on the following div for making complete website fluid #}     
    <div id="content">
        <div class="row-fluid">
            {% block wrapper %}
                {% block left-slot-wrapper %}
                    {# if SlotLeft #}
                        <div id="left-slot-container"> {# Class is set automatically #}
                            <div class="left-slot">
                                {% block left-slot %}{% lfs_portlet_slot 'Left' %}{% endblock %}
                            </div>
                        </div>
                    {# endif #}
                {% endblock %}
                <div id="middle-slot-container"> {# Class is set automatically #}
                    <div class="middle-slot">
                        <div class="row-fluid"><div class="span12">
                            {%if not main_page%}
                                <div id="breadcrumb">{% block breadcrumbs %}{% endblock %}</div> {# Div for breadcrumbs #}
                                {% if messages %}
                                {% for message in messages %}
                                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{ message }}</div>
                                {% endfor %}
                                {% endif %}
                            {% endif %}
                            {%if main_page%}{% block middle-slot %}{% lfs_portlet_slot 'Middle' %}{% endblock %}{% endif %}
                        {% block content %}{% endblock %}
                        </div></div>
                    </div>
                </div>
                {% block right-slot-wrapper %}
                {% ifequal page_type 'category' %}
                {% ifnotequal category.template 1 %}
                    {# if SlotRight #}
                        <div id="right-slot-container"> {# Class is set automatically #}
                            <div class="right-slot">
                                {% block right-slot %}{% lfs_portlet_slot 'Right' %}{% endblock %}
                            </div>
                        </div>
                    {# endif #}
                    {% endifnotequal %}
                    {% endifequal %}
                {% endblock %}

            {% endblock %}

        </div>
    </div>
</div>
</div>
<div id="push"></div>
<div class="wrap-footer">
<div id="footer">
        <div class="container">
            <div class="row-fluid">
                <div class="span4"><div class="row-fluid"><div class="span4">&copy; <script>document.write(new Date().getFullYear());</script> {% trans 'by' %} Рыбки</div></div></div>
                <div class="span6">{% static_block "footer" %}</div><div class="span2"><div>
            </div>
        </div>
    </div>
 </div>
   {% include "lfs/modal.html" %}

    {% block google-analytics-tracking %}
        {% google_analytics_tracking %}
    {% endblock %}
    {% block google-analytics-ecommerce %}{% endblock %}


    {% if DEMO_MODE %}
        {% include "demo_tools/zendesk.html" %}
    {% endif %}
    <script>
           mediator.publish('change_slots_width', "span3", "span6","span9");
           config.left_portlet_count++;
     </script>
     {% block body_bottom %}

    {% endblock %}

    {% include 'lfs/extra_js.html' %}

    {# {% snippets 'Body bottom' %} #}
</body>
</html>