{% extends "lfs/base.html" %}
{% load i18n %}

{% block section %}{% endblock %}

{% block content %}
<div class="main-style">
    <h2>{% trans 'Thank you' %}</h2>

    <ul style="list-style:none;">
        <li>
            <a href="{{ object.get_absolute_url }}">{% trans "Go to the reviewed product" %}</a>
        </li>
        <li>
            <a href="{% url lfs_shop_view %}">{% trans 'Go to Shop' %}</a>
        </li>
    </ul>
    </div>
{% endblock %}
