{% load i18n %}
<h2 class="first-heading">
    {{ category.name }}
</h2>
<div class="description">
    {{ category.description|safe }}
</div>

<div id="categories">
    <table class="table lfs-default">
        {% for row in categories %}
            <tr>
                {% for category in row %}
                    <td class="category-row">
                        <div class="category-content main-style">
                        <h4 class="first-heading"><a href="{% url lfs_category category.slug %}">{{ category.name }}</a></h4>
                        {% if category.get_image %}
                        <div class="category-image">
                            <a href="{% url lfs_category category.slug %}">
                                <img src="{{ category.get_image.url_100x100 }}"
                                     alt="{{ category.name }}" />
                            </a>
                        </div>
                        {% endif %}
                        <div class="category-description">
                            {{ category.short_description|safe }}
                        </div>
                    </div>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
{% block body_bottom %}
          <script>
          mediator.publish('change_slots_width', "span3", "span6", "span9");
        config.right_portlet_count--;
        config.left_portlet_count++;
          </script>
    {% endblock %}