{% load i18n lfs_tags sshop_tags %}
{% if products %}
    <table id="livesearch-results-table" class="table table-striped">
        {% for product in products %}
            <tr class="{% cycle 'even' 'odd' %}"
                onclick="window.location='{{ product.get_absolute_url }}'">
                <td>
                    {% if product.get_image %}
                        <a href="{{ product.get_absolute_url }}">
                            <img src="{{ product.get_image.image.url_60x60 }}"
                                 alt="{{ product.get_name }}"
                                 title="{{ product.get_name }}" />
                        </a>
                    {% endif %}
                </td>
                <td class="text">
                    <a href="{{ product.get_absolute_url }}">
                        {{ product.get_name }}
                    </a>
                </td>
                <td class="number"
                    nowrap="nowrap">
                      <div class="product-price">
                <div class="label label-info price">{{ product.price}}
                                    <span>{{ SHOP.default_currency.abbr }}</span></div>
                </div>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td class="all-results"
                colspan="3">
                <a href="{% url lfs_search %}?q={{ q }}">
                    {% trans 'All results' %} ({{ total }})
                </a>
            </td>
        </tr>
    </table>
{% else %}
    <p>{% trans 'No products found' %}</p>
{% endif %}
