*{
    word-spacing: -0.1em;
    font-family: arial, sans-serif;
} 
h1, h2, h3, h4, h5, h6 {
    font-family: arial, sans-serif;
}
h1.product-caption{
    font-size: 28px!important;
}
a{
    color:#00508D;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
.subcat-item{
    width: 250px;
}
img{
    margin: 0px;
}

#wrap{
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 35%, rgba(214,236,252,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(35%,rgba(255,255,255,1)), color-stop(100%,rgba(214,236,252,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 35%,rgba(214,236,252,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 35%,rgba(214,236,252,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 35%,rgba(214,236,252,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 35%,rgba(214,236,252,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d6ecfc',GradientType=0 ); /* IE6-9 */
}
.container{
    max-width: 1040px;
    min-width: 1040px;
}
.wrap-top-bar{
    background: url(/static/img/header_bgnav.png);
    padding-bottom: 5px;
    border-bottom: 1px solid #7cfffc;
}
.wrap-header{
    background: url(/static/img/header.png)top center no-repeat;
    padding-top: 2px;
}
.main-content-wrap{
    background: url(/static/img/thrash.png)top center no-repeat;
    padding: 15px;
}
.g-text{
    margin-top: 23px;
    p{
        text-align: center;
        color: #00508D;
        font-family: arial, sans-serif;
        font-weight: bold;
    }
}
.account-header{
    border: none!important;
    padding-bottom:0px!important; 
}
#cart-container{
    height: 140px;
    text-align: center;
    box-shadow:  0 0 7px 0px #49d9ec;
    -moz-box-shadow:  0 0 7px 0px #49d9ec;
    -webkit-box-shadow:  0 0 7px 0px #49d9ec;
    border-radius: 5px;
    border: 3px solid #fff;
    border-bottom: 6px solid #fff;
    img{
        margin-top: -30px;
    }
    p{
        font-size: 12px;
        font-weight: bold;
        color: #03639b;
    }
    .inner-shadow{
        height: 140px;
    }
}
.icon {
width: 154px!important;
}
.category-row:nth-child(1){
    width:245px!important;
}
.category-content{
    width: 200px!important;
    height: 200px!important;
    .first-heading{
        font-weight:normal!important;
    }
}
.wrap-btn-cart{
    margin: 0px!important;
    background-color: #fff!important;
    border-top: 1px solid #B9EEF6;
} 
.done-offer{
    border: none;
    width: 120px;
    background: none;
    box-shadow: none;
    text-shadow:none;
    text-decoration: none;
    font-weight: bold;
    line-height:32px;
    color: #00508D;
    &:hover{
           color: #FF5B00;
               background: none;
                box-shadow: none;
                text-shadow:none;
                text-decoration: none!important;
    }
}
.inner-shadow{
    box-shadow: inset 0 0 3px 0px #49d9ec;
-moz-box-shadow: inset 0 0 3px 0px #49d9ec;
-webkit-box-shadow: inset 0 0 3px 0px #49d9ec;
border-radius: 5px;
}
#static_block p{
    color: #00508D;
}
.static_block_footer p{
    color: #00508D;
}
div.search-block{
    margin:0;
} 
.days{
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    width: 20px;
    margin-left: -10px;
}
.search-block{
    width: 100%;
}
#search-input{
    border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
    box-shadow:  0px 2px 11px -3px #49D9EC;
-moz-box-shadow:  0px 2px 11px -3px #49D9EC;
-webkit-box-shadow:  0px 2px 11px -3px #49D9EC;
width: 450px;
border:0px;
height: 22px;
}
.search-btn{
    -webkit-border-radius:5px 5px 5px 0px;
    -moz-border-radius:0px 5px 5px 0px;
    border-radius:5px 5px 5px 0px;
    background: #fff;
    -webkit-box-shadow:  0px 2px 11px -3px #49D9EC;
    -moz-box-shadow:  0px 2px 11px -3px #49D9EC;
     box-shadow:  0px 2px 11px -3px #49D9EC;
    height: 30px;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    border-left: 1px solid #7FD3FF;
    border-right: 0px;
    color: #016EB1;
    &:hover{
        text-decoration: none!important;
        color:#FF5B00;
    }
}
.navbar{
    margin-bottom: 0px;
}
.navbar{
    .nav {
        li {
            a { 
                padding: 5px 15px 5px;
                font-size: 14px;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}
.main-nav{
    .navbar-inner{
        .container{
            max-width: 1040px;
            min-width: 1040px;
        }
        .nav{
            li{
                max-width:130px;
                min-width:130px;
            }
        }
    }
}
.header-nav{
    .nav{
        li{
            a{
                color: #000;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}
.wrap-footer{
    background-color: #D6ECFC;
}
#footer{
    background: url(/static/img/footer.png)bottom center no-repeat;
    padding-bottom: 2px;
    div{
        color:#00508D;
    }
}

.navbar-inner {
    background: url('/static/img/bg_category.png') bottom center no-repeat !important;
    border-radius: 0px;
    padding: 0;
    border-top: 3px solid #fff;
    height: 57px;
    filter: none;
    .nav {
        .main-category
        {
            max-height: 70px!important; 
        }
        margin: 0;
        li {
            width: 130px;
            text-align: center;
            position: static!important;
                &:hover {
                    background-color: #fff;
                }
            .a_category {
                color: #00508D;
                padding: 10px 0px 11px;
                height: 25px!important;
                font-weight: bolder;
                font-size: 13px;
                &:hover {
                    border-radius: 20px 20px 0px 0px;
                    border: 1px solid #A5E6FF;
                    border-bottom: 0px;
                    box-shadow: inset 0px 3px 6px -4px #7dcafd !important;
                    color:#ff5c00!important;
                    background-color: #fff !important;
                    text-decoration: underline;
                    z-index: 1001;
                    height: 50px;
                }
            }
        }
    }
} 
.a_category.sf{
    min-height: 35px;
    max-height: 35px;
}
.hover .a_category.sf{
                    border-radius: 20px 20px 0px 0px;
                    border: 1px solid #A5E6FF;
                    border-bottom: 0px;
                    box-shadow: inset 0px 3px 6px -4px #7dcafd !important;
                    color:#ff5c00!important;
                    background-color: #fff !important;
                    text-decoration: none;
                    z-index: 1001;
                    height: 35px;
}
.dropdown-menu {
    border-radius: 0px 0px 20px 20px;
    border: 1px solid #88FFFA;
    display: inline-block;
    max-width: 445px!important;
    min-width: 300px!important;
    margin: -10px 0 0 0px!important;
    background: #fff;
        li a{
            &:hover {
                background: none;
                text-decoration: underline;
                
            }
        }
}
.navbar .nav>li>.dropdown-menu li {
    width: 200px;
    text-align: left;
    margin-left: 22px;
    &:hover {
        background: none;
    }
}
.navbar .nav>li:hover span {
    display: inline-block;
}
.navbar .nav>li>.dropdown-menu li {
    margin-top: 0px;
    margin-bottom: 0px;
}
.dropdown-menu .dropdown-menu {
    display: block!important;
    position: relative;
    border: none;
    box-shadow: none;
    visibility: visible!important;
    left: 0;
    text-align: left;
    padding-top: 10px;
    li {
        width: 180px!important;
        a {
            color: #00508D;
            font-size: 13px;
            font-weight: normal!important;
            text-decoration: none;
            &:hover {
                background: transparent !important;
                text-decoration: underline;
                color: #ff5c00!important;
            }
        }
    }
}
.out.sf-menu #sub-nav{
    display: none!important;

}
.dropdown-menu li>a {
    white-space: normal;
    color: #00508D!important;
    font-weight: bold!important;
    padding: 0px 0px!important;
    font-size: 16px;
    text-decoration: none;
}
.dropdown-menu.hover {
    display: block!important;
}

.sf-menu ul {
    top:65px!important;
}
.sf-menu li:hover ul {
    display: block!important;
    visibility: visible!important;
    border: none;
    box-shadow: none;
    left: 0;
    width: auto;
}
ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul {
    top: 0!important;
    left: 0!important;
}
.sf-sub-indicator {
    display: none!important;
}
.navbar .nav {
    margin: 0;
}
.main-style{
    border-radius: 20px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0px 0px 10px -3px #18F4FD;
}
#sub-nav {
    max-width: 1040px!important;
    min-width: 1040px!important;
    position: absolute!important;
    display: none;
    box-shadow:inset 0px -3px 6px -3px #0095f8 !important;
    border-radius: 0px 0px 20px 20px;
    border: 1px solid #A5E6FF;
    border-top: 2px solid #A5E6FF;
    z-index: 1000;
    padding: 25px 10px;
    .category_row {
        
    }
    .category_name {
    width: auto;
    max-width: 205px;
    .red{
        display: inline-block;
        min-height: 33px;
    }
}
}
.product-img-wrap{
    height: 110px!important;
    img{
        display:block; text-align: center;margin: 0 auto;
    }
}
.breadcrumb{
    background-color: rgba(255,255,255, 0.4);
    border-radius: 20px;
}
.product-title-wrap{
    height: 60px!important;
    overflow: hidden;
}
.portlet {
border-radius: 20px;
width: 97%;
background-color: #fff;
padding: 10px;
box-shadow: 0px 0px 10px -3px #18F4FD;
float:none!important;
clear: both;
}
#product-form{
    &:hover{
        box-shadow: 0px 0px 18px -3px #3BA4F7;
    }
}
.product-list-item:hover {
    box-shadow: 0px 0px 18px -3px #3BA4F7;
}
.product-table-item {
    padding: 10px;
    .product-caption{
        overflow: hidden;
    height: 60px;
    }
    .product-price{
        background-color: #fff;
        box-shadow: none;
        border: none;
        padding-top: 0px!important;
        font-size: 18px;
        color: #ff5c00;
        text-shadow: none;
        border-radius: 0px;
        height: 43px;
                span{
                    font-size: 18px;
                    color:#00508D;
                }
    }
}
.main-prod-table{
    td{
        width: 50%;
    }
}
.product-table-item:hover {
    box-shadow: 0px 0px 18px -3px #3BA4F7;
}
.portlet-header {
    text-align: center;
    color: #00508D;
    border-bottom: 3px solid #ADDCF6;
}
.product-title {
    font-size: 13px;
}
.product-price {
    color: #ff5c00;
    font-weight: bold;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 5px;
    span{
        font-size: 18px;
        color:#00508D;
    }
}
.add-to-cart-form{
    button{
        color:#fff;
        border:none;
    background: rgb(139,193,244); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(139,193,244,1) 0%, rgba(85,166,232,1) 16%, rgba(10,119,213,1) 50%, rgba(83,159,225,1) 93%, rgba(85,166,232,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(139,193,244,1)), color-stop(16%,rgba(85,166,232,1)), color-stop(50%,rgba(10,119,213,1)), color-stop(93%,rgba(83,159,225,1)), color-stop(100%,rgba(85,166,232,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(139,193,244,1) 0%,rgba(85,166,232,1) 16%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 93%,rgba(85,166,232,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(139,193,244,1) 0%,rgba(85,166,232,1) 16%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 93%,rgba(85,166,232,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(139,193,244,1) 0%,rgba(85,166,232,1) 16%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 93%,rgba(85,166,232,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(139,193,244,1) 0%,rgba(85,166,232,1) 16%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 93%,rgba(85,166,232,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8bc1f4', endColorstr='#55a6e8',GradientType=0 ); /* IE6-9 */


    }
    button:hover{
        color:#fff;
        background: rgb(139,193,244); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(139,193,244,1) 0%, rgba(85,166,232,1) 16%, rgba(61,144,211,1) 50%, rgba(83,159,225,1) 93%, rgba(85,166,232,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(139,193,244,1)), color-stop(16%,rgba(85,166,232,1)), color-stop(50%,rgba(61,144,211,1)), color-stop(93%,rgba(83,159,225,1)), color-stop(100%,rgba(85,166,232,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(139,193,244,1) 0%,rgba(85,166,232,1) 16%,rgba(61,144,211,1) 50%,rgba(83,159,225,1) 93%,rgba(85,166,232,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(139,193,244,1) 0%,rgba(85,166,232,1) 16%,rgba(61,144,211,1) 50%,rgba(83,159,225,1) 93%,rgba(85,166,232,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(139,193,244,1) 0%,rgba(85,166,232,1) 16%,rgba(61,144,211,1) 50%,rgba(83,159,225,1) 93%,rgba(85,166,232,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(139,193,244,1) 0%,rgba(85,166,232,1) 16%,rgba(61,144,211,1) 50%,rgba(83,159,225,1) 93%,rgba(85,166,232,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8bc1f4', endColorstr='#55a6e8',GradientType=0 ); /* IE6-9 */



    }
        button:active{
            color:#fff;
        background: rgb(27,216,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(27,216,255,1) 0%, rgba(96,196,252,1) 26%, rgba(64,185,255,1) 78%, rgba(27,180,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(27,216,255,1)), color-stop(26%,rgba(96,196,252,1)), color-stop(78%,rgba(64,185,255,1)), color-stop(100%,rgba(27,180,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(27,216,255,1) 0%,rgba(96,196,252,1) 26%,rgba(64,185,255,1) 78%,rgba(27,180,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(27,216,255,1) 0%,rgba(96,196,252,1) 26%,rgba(64,185,255,1) 78%,rgba(27,180,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(27,216,255,1) 0%,rgba(96,196,252,1) 26%,rgba(64,185,255,1) 78%,rgba(27,180,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(27,216,255,1) 0%,rgba(96,196,252,1) 26%,rgba(64,185,255,1) 78%,rgba(27,180,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1bd8ff', endColorstr='#1bb4ff',GradientType=0 ); /* IE6-9 */


    }
}
.featured-prod{
    margin-top: 10px;
    width: 97% !important;
    .portlet-header{
        text-align: left;
    }
    height: 325px;
    .jcarousel-skin-tango .jcarousel-clip-horizontal {
        height: 320px!important;
    }
    .jcarousel-skin-tango .jcarousel-item {
    width: 185px;
}
    #categories-carousel{
        height: 325px!important;
    }
    span{
        font-size: 18px;
        color:#00508D;
    }
}
.discount-prod{
    width: 97% !important;
    min-height: 280px;
    .jcarousel-skin-tango .jcarousel-item {
   width: 240px;
    }
    #categories-carousel{
        height: 280px!important;
    }
    .jcarousel-skin-tango .jcarousel-clip-horizontal {
        width: : 170px!important;
        height: 280px;
    }
        span{
        font-size: 18px;
        color:#00508D;
    }
}
.discount-price-product{
    ul{
        list-style: none;
        margin: 0;
    }
    .instead{
        font-weight: normal;
        color: #000!important;
        font-size: 14px!important;
        text-decoration: underline;
    }
    .span4price{
        font-size: 13px!important;
        color: #ff5c00!important;
        font-weight: normal;
    }
}
.notebook{
    width: 97% ! important;
    ul{
        list-style: none;
    }
    .product-price{
        background-color: #fff;
        box-shadow: none;
        border: none;
        padding: 0px;
        font-weight: bold;
        font-size: 18px;
        text-align: right;
        color: #ff5c00;
        text-shadow: none;
        border-radius: 0px;
                span{
                    font-size: 18px;
                    color:#00508D;
                }
        
    }
}
.to-notebook{
    background: none;
    border: none;
    color: #00508D;
    box-shadow: none;
    padding: 0px;
    white-space: pre;
    text-align: left!important;
    &:hover{
        text-decoration: underline;
        background: none;
        border: none;
        color: #00508D;
        box-shadow: none;
        padding: 0px;
    }
}
.category-toolbar{
    .pull-left{
        padding: 15px;
    }
}
.product-price-livesearch{
    .product-price{
    .label{
        background-color: #fff;
        box-shadow: none;
        border: none;
        padding: 0px;
        font-size: 14px;
        color: #ff5c00;
        text-shadow: none;
        border-radius: 0px;
                span{
                    font-size: 14px;
                    color:#00508D;
                }
    }
}
}
.product-price{
    .label{
        background-color: #fff;
        box-shadow: none;
        border: none;
        padding: 0px;
        font-size: 18px;
        color: #ff5c00;
        text-shadow: none;
        border-radius: 0px;
                span{
                    font-size: 18px;
                    color:#00508D;
                }
    }
}
.discount-price-product-table{
        .product-price{
            background-color: #fff;
            box-shadow: none;
            border: none;
            padding: 0px;
            font-size: 14px;
            color: #ff5c00;
            text-shadow: none;
            border-radius: 0px;
                    span{
                        font-size: 14px;
                        color:#00508D;
                    }
        }
}
.notebook-price{
    background-color: #fff;
    box-shadow: none;
    border: none;
    padding: 0px;
    font-size: 18px;
    color: #ff5c00;
    text-shadow: none;
    border-radius: 0px;
    span{
         font-size: 18px;
         color:#00508D;
    }
}
.product-list-item{
    .status-and-price{
    .product-price{
        .label{
            background-color: #fff;
            box-shadow: none;
            border: none;
            padding: 0px;
            font-size: 18px;
            color: #ff5c00;
            text-shadow: none;
            border-radius: 0px;
                    span{
                        font-size: 18px;
                        color:#00508D;
                    }
            }
        }
    }
}
.topseller-portlet-style{
    .product-price{
        text-align: center;
        span{
            font-size: 18px;
            color:#00508d;  
        }
    }
    .topseller-btn-wrap{
        text-align: center;
    }
}
.featured-prod-price{
    span{
        font-size: 18px;
        color:#00508D;
    }
}
.add-to-cart-button{
    text-align: center;
    button{
width: 75px !important;
height: 32px !important;
padding:5px;
    }
}
.table{
    td{
        border-top:none;
    }
}
.category-toolbar .pull-left {
    padding: 5px;
}
.product-price-prodlist{
    .product-price{
        span{
            font-size: 18px;
            color:#00508d;        }
    }
}
.status-prod{
    padding-top: 10px;
    .label{
        width: 100%;
        text-align: center;
        padding: 2px 0px;
    }
}
.cart-notebook{
    padding-top: 10px;
    .to-notebook{
        padding-top: 20px;
    }
    button{
        width: 100%;
    }
}
.add-to-cart-button-prodlist{
    button{
    width: 75px !important;
    height: 32px !important;
    padding: 5px;
    }
}
.short-desc-prod-inline-wrap{
    padding-top: 15px;
    padding-bottom: 15px;
    .short-desc-prod-inline{
        padding: 5px;
    }
    .short-description{
        padding: 5px;
    }
}
.vertical-slider
{
    background-color: #EBEBEC;
    display:inline-block;
    height: 75px!important;
    width: 100%!important;
}
.prod-inline{
    img{
        margin: 0px auto;
        text-align: center;
    }
}
.thumbnails {
    li{
        margin-left: 5px;
    }

}
.img-main{
        border: 1px solid #ddd;
        .thumbnail{
        border: none;
        }
}
#main-carousel-wrap{
    .span12{
        position: relative;
    }
}
#wrapp-news{
    clear: both;
    margin-top: 10px;
    width:97%;
}
 .search-results-price{
    .product-price{
        box-shadow: none;
        border: none;
        padding: 0px;
        font-size: 18px;
        font-weight: bold;
        color: #ff5c00;
        text-shadow: none;
        border-radius: 0px;
                span{
                    font-size: 18px;
                    color:#00508D;
                }
    }
 }
 .buttons{

    button{
        width: 90px;
        padding: 20px 0px;
    }
 }
 .table-images-wrap{
    height: 150px!important;
 }
 .graph-time{
    text-align: left;
    height: 120px;
    .time-hours{
        margin-left: -10px;
        font-size: 20px;
        font-weight: bold;
        color: #00508D;
        line-height: 120px;
    }
    .time-hours2{
        margin-left: -20px;
        font-size: 20px;
        font-weight: bold;
        color: #00508D;
        padding: 4px;
        position:static;
    }
    .minutes{
        font-size: 12px;
        position: absolute;
        top: 87px;
    }
        .minutes3{
        font-size: 12px;
        position: relative!important;
        top: -7px;
    }
 }
 .graph-time2{
    text-align: left;
    height: 120px;
    .time-hours{
        margin-left: -20px;
        font-size: 20px;
        font-weight: bold;
        color: #00508D;
        padding: 4px;
    }
    .time-hours2{
        margin-left: -20px;
        font-size: 20px;
        font-weight: bold;
        color: #00508D;
        padding: 2px;
        position:static;
    }
    .minutes{
        font-size: 12px;
        position: absolute;
        top: 90px;
    }
    .minutes2{
        font-size: 12px;
        position: absolute;
        top: 119px;
    }

    .minutes4{
        font-size: 12px;
        position: relative!important;
        top: -7px;
    }
    .time-too-sleep{
        margin-left: -20px;
        font-size: 15px;
        font-weight: bold;
        color: #00508D;
        padding: 4px;
    }
 }
 .bracket{
    background: url('/static/img/bracket.png') no-repeat right center;
 }
 .search-res{
    a{
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-left-width: 0;
    &:hover{
        text-decoration: underline;
    }
    }
    .current{
        float: left;
        padding: 4px 12px;
        line-height: 20px;
        text-decoration: none;
        background-color: #f5f5f5;
        border: 1px solid #ddd;
        border-left-width: 0;
    }
    .disabled{
        float: left;
        padding: 4px 12px;
        line-height: 20px;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #ddd;
        border-left-width: 0;
    }
    .dots{
        float: left;
        padding: 4px 12px;
        line-height: 20px;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #ddd;
        border-left-width: 0;
    }
}
.link-to-all{
    display: none;
}
.otzyvy{
    .href-title{
        text-decoration: none;
        font-weight: bold;
        color:#000;
    }
    .link-to-all{
    display: block;
    }

}
.stati{
    .link-to-all{
    display: block;
    }

}
#livesearch-results-table tr:hover {
    background-color: #FFF;
    color: #000;
}
#livesearch-results-table tr:hover a {
    color: #000;
}
#livesearch-results-table{
    .even{
        .number{
            .price{
                font-size: 14px;
                font-weight: bold;
                color: #ff5c00;
                text-shadow: none;
            }
        }
    }
    .odd{
    .number{
            .price{
                font-size: 14px;
                font-weight: bold;
                color: #ff5c00;
                text-shadow: none;
            }
        }   
    }
}
.review-send{
        color:#fff;
        border:none;
    background: rgb(139,193,244); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(139,193,244,1) 0%, rgba(85,166,232,1) 16%, rgba(10,119,213,1) 50%, rgba(83,159,225,1) 93%, rgba(85,166,232,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(139,193,244,1)), color-stop(16%,rgba(85,166,232,1)), color-stop(50%,rgba(10,119,213,1)), color-stop(93%,rgba(83,159,225,1)), color-stop(100%,rgba(85,166,232,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(139,193,244,1) 0%,rgba(85,166,232,1) 16%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 93%,rgba(85,166,232,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(139,193,244,1) 0%,rgba(85,166,232,1) 16%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 93%,rgba(85,166,232,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(139,193,244,1) 0%,rgba(85,166,232,1) 16%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 93%,rgba(85,166,232,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(139,193,244,1) 0%,rgba(85,166,232,1) 16%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 93%,rgba(85,166,232,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8bc1f4', endColorstr='#55a6e8',GradientType=0 ); /* IE6-9 */


    &:hover{
        color:#fff;
        background: rgb(139,193,244); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(139,193,244,1) 0%, rgba(85,166,232,1) 16%, rgba(61,144,211,1) 50%, rgba(83,159,225,1) 93%, rgba(85,166,232,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(139,193,244,1)), color-stop(16%,rgba(85,166,232,1)), color-stop(50%,rgba(61,144,211,1)), color-stop(93%,rgba(83,159,225,1)), color-stop(100%,rgba(85,166,232,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(139,193,244,1) 0%,rgba(85,166,232,1) 16%,rgba(61,144,211,1) 50%,rgba(83,159,225,1) 93%,rgba(85,166,232,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(139,193,244,1) 0%,rgba(85,166,232,1) 16%,rgba(61,144,211,1) 50%,rgba(83,159,225,1) 93%,rgba(85,166,232,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(139,193,244,1) 0%,rgba(85,166,232,1) 16%,rgba(61,144,211,1) 50%,rgba(83,159,225,1) 93%,rgba(85,166,232,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(139,193,244,1) 0%,rgba(85,166,232,1) 16%,rgba(61,144,211,1) 50%,rgba(83,159,225,1) 93%,rgba(85,166,232,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8bc1f4', endColorstr='#55a6e8',GradientType=0 ); /* IE6-9 */



    }
        &:active{
            color:#fff;
        background: rgb(27,216,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(27,216,255,1) 0%, rgba(96,196,252,1) 26%, rgba(64,185,255,1) 78%, rgba(27,180,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(27,216,255,1)), color-stop(26%,rgba(96,196,252,1)), color-stop(78%,rgba(64,185,255,1)), color-stop(100%,rgba(27,180,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(27,216,255,1) 0%,rgba(96,196,252,1) 26%,rgba(64,185,255,1) 78%,rgba(27,180,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(27,216,255,1) 0%,rgba(96,196,252,1) 26%,rgba(64,185,255,1) 78%,rgba(27,180,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(27,216,255,1) 0%,rgba(96,196,252,1) 26%,rgba(64,185,255,1) 78%,rgba(27,180,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(27,216,255,1) 0%,rgba(96,196,252,1) 26%,rgba(64,185,255,1) 78%,rgba(27,180,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1bd8ff', endColorstr='#1bb4ff',GradientType=0 ); /* IE6-9 */


    }
}
.well{
    width: 95%!important;
}
.info-page-create-date-news{
    float: none!important;
    font-weight: bold;

}
 .hr-4-data{
    border-top: 1px solid #CFCECE;
    border-bottom: 1px solid #E7E7E7;
 }
 .info-menu-block{
    .portlet{
        .nav-list{
            li{
                a{
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            .active{
                a{
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
 }
 .compare-image-wrap{
    max-height: 60px;
    min-height: 60px;
 }
 .nivo-caption{
    display: none!important;
 }
 #slider_1{
    border-radius: 20px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0px 0px 10px -3px #18F4FD;
 }
 #prod_list{
    .otzyvy{
        display: none;
    }
    .stati{
        display: none;
    }
 }
 #sshop-modal{
    .cart{
        .right{
            min-width: 77px;
        }
    }
 }

.checkout, .thank-you{
    #content{
        border-radius: 20px;
        background-color: #fff;
        padding: 10px;
        box-shadow: 0px 0px 10px -3px #18f4fd;
    }
 }
