{% load i18n lfs_tags %}
{% load url from future %}
{% if not products %}
<div class="cart-portlet portlet">

    <div class="portlet-header">
        <h4>{% trans 'Cart' %}</h4>        
    </div>

    <div class="portlet-body">
    <div class="row-fluid">
            {% with amount=cart.get_amount_of_items %}
            {% if amount == 0 or not cart %}
            <div class="span4">
                <img src="{{ STATIC_URL }}img/empty-cart.png">
            </div>    
            <div class="span8">     
                <p>{% trans "Cart is empty." %}</p>      
            </div>  </div>
            {% else %}
            <div class="span3">
                <img src="{{ STATIC_URL }}img/full-cart.png">
            </div>    
            <div class="span9">
                <p>{% trans "Товаров" %}: <span>{{ amount|floatformat }}</span></p>
                <p>{% trans 'На сумму' %}: <span>{{ price|floatformat }} {{ SHOP.default_currency.abbr }}</span></p>
            </div>  </div>
            <div class="row-fluid"> 
            <div class="span8">
                <a class="btn btn-small" href="{% url 'lfs_checkout' %}">{% trans "Оформить заказ" %}</a>
            </div>    
            <div class="span4">
                <a class="__action--click__clear-cart">{% trans 'Очистить' %}</a>
            </div>
            </div> 
            {% endif %}
            {% endwith %}
    </div>
</div>
<script type="text/javascript">
    $(".__action--click__clear-cart").click(function(){
        $('#cart-container').load("{% url 'lfs_clear_cart' %}");
    });

{% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
{% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>
{% endif %}