{% load i18n %}
{% load lfs_tags sshop_tags %}

{% if products %}
    <div id="portlet_{{ slot.id }}_{{ portlet_id }}" class="featured-products-portlet portlet featured-prod">
        <div class="portlet-header">
            <h4>{{ title }}</h4>
        </div>

        <div class="portlet-body">
            
            {% if products|length < 5 or not slideshow %}
                {% for product in products %}
                <div class="portlet-item{% if forloop.last %} last{% endif %}{% if slot.type_of_slot == 5 %} horizontal{% endif %}">
   <div>
                                    <a href="{{ product.get_absolute_url }}" class="product-title">
                                       <div class="product-img-wrap"><img src="{{ product.get_image.image.url_100x100 }}"></div>
                                       <br><div class="product-title-wrap">{{ product.get_name }}</div>
                                    </a>
                                </div>
                    <div class="product-price">
                                {{ product.price|floatformat:2}}
                                    <span>{{ SHOP.default_currency.abbr }}</span>
                        </div>
                         {% if product.status.show_buy_button %}
                                    <form action="{% url lfs.catalog.views.product_form_dispatcher %}"
                                        class="add-to-cart-form" method="post">
                                    {% csrf_token %}
                                    <input name="product_id" type="hidden" value="{{ product.id }}" />
                                    <input name="ajax_mode" type="hidden" value="1" />
                                    <!--input class="input-small inline" name="quantity" type="text" value="1" /-->
                                    <button class="btn btn-danger buy">{% trans "В корзину" %}</button>
                                    </form>
                                {% endif %}
                </div>
                {% endfor %}
            {% elif slideshow or products|length > 5 %}
            <div class="products-wrapper slideshow">
                  <ul id="categories-carousel" class="jcarousel-skin-tango featured-prod-portlet">
                    {% for product in products %}
                    <li>
                        <div id="tab-{{ forloop.counter }}" class="portlet-item">
                            <div class="product-data">
                                <div>
                                    <a href="{{ product.get_absolute_url }}" class="product-title">
                                       <div class="product-img-wrap"><img src="{{ product.get_image.image.url_100x100 }}"></div>
                                       <br><div class="product-title-wrap">{{ product.get_name }}</div>
                                    </a>
                                </div>
                                <div class="product-price">
                                {{ product.price|floatformat:2}}
                                    <span>{{ SHOP.default_currency.abbr }}</span>
                        </div>
                                {% if product.status.show_buy_button %}
                                    <form action="{% url lfs.catalog.views.product_form_dispatcher %}"
                                        class="add-to-cart-form" method="post">
                                    {% csrf_token %}
                                    <input name="product_id" type="hidden" value="{{ product.id }}" />
                                    <input name="ajax_mode" type="hidden" value="1" />
                                    <!--input class="input-small inline" name="quantity" type="text" value="1" /-->
                                    <button class="btn btn-danger buy">{% trans "В корзину" %}</button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </li>    
                    {% endfor %}{# slideshow products #}
                </ul>
                {# tabs #}
                <ul style="display:none">
                {% for product in products %}
                    <li><a href="#tab-{{ forloop.counter }}">{{ forloop.counter }}</a></li>
                {% endfor %}
                </ul>
            </div>
            <script type="text/javascript">
                    $(".featured-prod-portlet").jcarousel({
                            scroll: 1,
                            wrap: 'circular',
                        });
            </script>
            {% endif %}{# slideshow check #}
        </div>{# portlet-body #}
    </div>

{% endif %}
