{% load i18n %}
{% if not ajax %}
<div id="notebook" portlet_assignment_id="{{ portlet_assignment_id }}" slot_name="{{ slot_name }}" class="notebook">
{% endif %}
{% if notebook_list %}
<div class = "portlet">
    <div class="portlet-header"> 
        <h4>{% trans "Желаемые товары" %}</h4>
    </div> 
    <ul>
        {% for product in notebook_list %}
        <li><a href="{% url lfs_product product.slug %}">{{ product.name }}</a></li>
        <div class="product-price">
                        {{ product.price|floatformat:2}}
                     <span>{{ SHOP.default_currency.abbr }}</span>
                    </div>

        {% endfor %}
    </ul>
    <script type="text/javascript">
        {% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
        {% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
    </script>
    </div>
{% endif %}
{% if not ajax %}
</div>
{% endif %}

{% if init %}
 <script type="text/javascript">
      var id = $('#notebook').attr('portlet_assignment_id')
      $.ajax({
          url: "/notebook/ajax-load/" + id + "/",
          dataType: "json",
          success: function(msg){
              $('#notebook')[0].innerHTML = msg['html']
              mediator.publish('run_scripts_from', $('#notebook')[0].innerHTML)
              page_designer.page_rebuild();
          }
      });
  </script>
{% endif %}