{% load i18n %}
{% load lfs_tags %}
{% load sshop_tags %}



{% if topseller %}

    <div class="topseller-portlet portlet topseller-portlet-style">
         <div class="portlet-header">
            <h4>{{ title }}</h4>
        </div>
        <div class="portlet-body">
                <div class="wrap-product"> 
               {% for item in topseller %}
                {% with item.product as product %}
                <div class="portlet-item{% if forloop.last %} last{% endif %}{% if type_of_slot == 5 %} horizontal{% endif %} portlet-padding">
                   <div class="product-data">
                                <div class="image-wrapper">
                                    <a href="{{ product.get_absolute_url }}">
                                       <div class="product-img-wrap"><img src="{{ product.get_image.image.url_100x100 }}"></div>
                                    </a>
                                </div>
                                <div class="product-title">
                                    <a href="{{ product.get_absolute_url }}" class="product-title"><div class="product-title-wrap">{{ product.get_name }}</div></a>
                                </div>
 <div class="product-price">
                                {{ product.price|floatformat:2}}
                                    <span>{{ SHOP.default_currency.abbr }}</span>
                        </div>
                         {% if product.status.show_buy_button %}
                                    <form action="{% url lfs.catalog.views.product_form_dispatcher %}"
                                        class="add-to-cart-form" method="post">
                                    {% csrf_token %}
                                    <input name="product_id" type="hidden" value="{{ product.id }}" />
                                    <input name="ajax_mode" type="hidden" value="1" />
                                    <!--input class="input-small inline" name="quantity" type="text" value="1" /-->
                                    <div class="topseller-btn-wrap"><button class="btn btn-danger buy">{% trans "В корзину" %}</button></div>
                                    </form>
                                {% endif %}
                        </div>
                               
                            </div>
                </div>
                {% endwith %}
                {% endfor %}
                </div>
                
            {# slideshow check #}
        </div>{# portlet-body #}
    </div>
{% endif %}