{% load i18n lfs_tags sshop_tags reviews_tags %}
{% load properties_tags %}
{% include "lfs/catalog/categories/product/toolbar.html" %}
<div class="description">
    {{ category.description|safe }}
</div>

<div id="products">
    {% if not products_count and filtered %}
        <div class="alert">
            <p>{% trans 'Товаров с данным набором фильтров не найдено. Для сброса фильтров нажмите пожалуйста кнопку "Очистить" и попробуйте задать другие параметры.' %}</p>
        </div>
    {% endif %}
    {% for product in products %}
    <div class="product-list-item main-style">
        <div class="row-fluid">
            <div class="span5">
                <a href="{% url lfs.catalog.views.product_view product.slug %}">
                    {% if product.get_image.image.url_100x100 %}
                        {% badges_for_product product %}
                        <img alt="{{ product.name }}" src="{{ product.get_image.image.url_100x100 }}" />
                    {% else %}
                        <img alt="{{ product.name }}" src="{{ STATIC_URL }}img/100x100.gif" />
                    {% endif %}
                </a>
                <div class="row-fluid">
                <div class="span5">
                <div>{% average_for_instance product %}</div>
            </div></div>
                
                <div class="row-fluid">
                <div class="span5 product-form">
                {% if product.has_variants %}
                    {% if product.get_default_variant.id in request.session.comparison %}
                    <a href="{% url lfs_comparison %}">{% trans "Added to compare" %}</a>
                    {% else %}
                    <a href="javascript:comparison_add_product({{ product.id }}, {% url lfs_comparison %})" id="compare_{{ product.id }}">{% trans "Compare" %}</a>
                    {% endif %}
                {% else %}
                    {% if product.id in request.session.comparison %}
                    <a href="{% url lfs_comparison %}">{% trans "Added to compare" %}</a>
                    {% else %}
                    <a href="javascript:comparison_add_product({{ product.id }}, {% url lfs_comparison %})" id="compare_{{ product.id }}">{% trans "Compare" %}</a>
                    {% endif %}
                {% endif %}
                </div>
                <div class="span5">
                    {% if product in request.session.notebook %}
        <a id="notebook_{{ product.id }}" class="btn btn-info pull-left to-notebook" href="/notebook/">{% trans "В списке желаний" %}</a>
        {% else %}
        <a id="notebook_{{ product.id }}" class="btn btn-info pull-left to-notebook" href="javascript:notebook_add_product({{ product.id }})">{% trans "В список желаний" %}</a>
        {% endif %}
                </div>
            </div>
            </div>
            <div class="span6">
                
                <div class="product-caption"><a href="{% url lfs_product product.slug %}">{{ product.get_name }}</a></div>
                <b><div>Артикул:</b> {{ product.sku }}</div>
                {% property_value_icons product %}
                <div class="product-description">{{ product.get_short_description|safe }}</div>

                {% for property in product.get_visible_in_list_properties %}{% spaceless %}<p>{{ property.title }}: {{ property.value|safe }}</p>{% endspaceless %}{% endfor %}

                {% if not product.is_product_with_variants %}
                <div class="row-fluid">
                <div class="product-statuses status-and-price span6">
                <span class="label-popover label {{ product.status.css_class }} pointer" data-content="{{ product.status.description|striptags }}" title="" data-original-title="{{ product.status.name }}">{{ product.status.name }}</span>
                {% if product.manage_stock_amount %}
                <span>{% trans "Stock amount:" %} {{ product.stock_amount }}
                {% if product.unit %}{{ product.unit }}{% endif %}</span>
                {% endif %}
                {% if product.manual_delivery_time %}
                {% trans "Delivery in" %} {{ product.delivery_time }}
                {% endif %}
                {% if product.is_product_with_variants %}
                <div class="product-price">
                <span class="label label-info price standard-price-value" price="{{ product.price }}" currency="{{ currency.code }}">
                    {% cheapest_price product %}
                </span>
                </div>  
                <a href="{% url lfs_product_variants_for_category product.pk %}" class="btn btn-mini ajax-load" data-container="#variants-{{ product.pk }}">{% trans "All variants" %}</a>
            {% else %}

            {% if product.get_for_sale %}
                 <div class="product-price discount-price-product">
                    <div class="product-price">{{ product.for_sale_price }}
                                    <span>{{ SHOP.default_currency.abbr }}</span></div>
                    <ul>
                    <li><div class="for-sale-price"><span class="instead">{% trans 'Instead' %}:</span><span class="span4price"> {% standard_price product %}</span></div></li>
                    <li><div class="for-sale-standard-price"><span class="instead">{% trans 'You save' %}:</span><span class="span4price"> {% price_difference product %}</span></div></li>
                    </ul>
                    </div>
            {% else %}
                <div class="product-price">
                <div class="label label-info price">{{ product.price|floatformat:2 }}
                                    <span>{{ SHOP.default_currency.abbr }}</span></div>
                </div>
            {% endif %}
                </div>
                <div class="span6 add-to-cart-button">
            
            {% if product.status.show_buy_button %}
             <form action="{% url lfs.catalog.views.product_form_dispatcher %}"
             class="add-to-cart-form" method="post">
             {% csrf_token %}
             <input name="product_id" type="hidden" value="{{ product.id }}" />
             <input name="ajax_mode" type="hidden" value="1" />
             <!--input class="input-small inline" name="quantity" type="text" value="1" /-->
             <button class="btn btn-danger buy">{% trans "В корзину" %} </button>
             </form>
            {% endif %}
            {% endif %}
            </div>
        </div>
                </div>
                {% endif %}
                {% if product.is_product_with_variants %}
                <div id="variants-{{ product.pk }}"></div>
                {% endif %}
            </div>
            
        </div>
        {% endfor %}
</div>

<script type="text/javascript">
$("body").attr('id', 'prod_list');
    function notebook_add_product(product_id){
        $.ajax({
            url: "/notebook/add-product/" + product_id + "/",
            dataType: "json",
            success: function(msg){
                $("#notebook_"+product_id).text("В блокноте");
                $("#notebook_"+product_id).attr("href",  "/notebook/");
            }
        });
    };
</script>
{% include "lfs/catalog/categories/product/products_navigation.html" %}

