{% load i18n lfs_tags sshop_tags reviews_tags %}
{% load properties_tags %}
{% include "lfs/catalog/categories/product/toolbar.html" %}
<div class="description">
    {{ category.description|safe }}
</div>

<div id="products">
    {% if not products_count and filtered %}
        <div class="alert">
            <p>{% trans 'Товаров с данным набором фильтров не найдено. Для сброса фильтров нажмите пожалуйста кнопку "Очистить" и попробуйте задать другие параметры.' %}</p>
        </div>
    {% endif %}
<table class="table main-prod-table">
    {% for product in products %}
    {% if product.left_block %}<tr><td>{% else %}<td>{% endif %}
    <div class="product-table-item main-style">
        <div class="row-fluid">
        <div class="span12">
        <div class="product-caption"><a href="{% url lfs_product product.slug %}">{{ product.get_name }}</a>
        </div>
        <b><div>Артикул:</b> {{ product.sku }}</div>
        {% property_value_icons product %}
        </div>
        {% for property in product.get_visible_in_list_properties %}{% spaceless %}<p>{{ property.title }}: {{ property.value|safe }}</p>{% endspaceless %}{% endfor %}
        </div>
        <div class="row-fluid">
            <div class="row-fluid">
            <div class="span6 table-images-wrap">
                <a href="{% url lfs.catalog.views.product_view product.slug %}">
                    {% if product.get_image.image.url_100x100 %}
                        {% badges_for_product product %}
                        <img alt="{{ product.name }}" src="{{ product.get_image.image.url_100x100 }}" />
                    {% else %}
                        <img alt="{{ product.name }}" src="{{ STATIC_URL }}img/100x100.gif" />
                    {% endif %}
                </a>
                <div class="row-fluid">
                <div class="span5">
               
            </div></div>
            </div>
            <div class="span6">
                <div class="product-statuses">
                <span class="label-popover label {{ product.status.css_class }} pointer" data-content="{{ product.status.description|striptags }}" title="" data-original-title="{{ product.status.name }}">{{ product.status.name }}</span>
                </div>
            </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div>{% average_for_instance product %}</div>
                </div>
            </div>
            {% if not product.is_product_with_variants %}
            <div class="row-fluid">
            <div class="span5">
                <div class="product-form">
                <a href="javascript:comparison_add_product({{ product.id }}, {% url lfs_comparison %})" id="compare_{{ product.id }}">{% trans "Compare" %}</a>
                </div>
                </div>
                <div class="span7">


       
            {% if product.get_for_sale %}
                 <div class="product-price discount-price-product-table">
                    <div class="product-price">{{ product.for_sale_price|floatformat:2 }}
                                    <span>{{ SHOP.default_currency.abbr }}</span></div>
                    </div>
            {% else %}
                <div class="product-price">
                <div class="product-price">{{ product.price|floatformat:2 }}
                                    <span>{{ SHOP.default_currency.abbr }}</span></div>
                </div>
            {% endif %}
            


                  
                </div>
                </div>
                <div class="row-fluid">
                <div class="span6">
           {% if product in request.session.notebook %}
        <a id="notebook_{{ product.id }}" class="btn btn-info pull-left to-notebook" href="/notebook/">{% trans "В списке желаний" %}</a>
        {% else %}
        <a id="notebook_{{ product.id }}" class="btn btn-info pull-left to-notebook" href="javascript:notebook_add_product({{ product.id }})">{% trans "В список желаний" %}</a>
        {% endif %}
            </div>
            <div class="span6 add-to-cart-button">
             {% if product.status.show_buy_button %}
             <form action="{% url lfs.catalog.views.product_form_dispatcher %}"
             class="add-to-cart-form" method="post">
             {% csrf_token %}
             <input name="product_id" type="hidden" value="{{ product.id }}" />
             <input name="ajax_mode" type="hidden" value="1" />
             <!--input class="input-small inline" name="quantity" type="text" value="1" /-->
             <button class="btn btn-danger buy">{% trans "В корзину" %}</button>
             </form>
            {% endif %}
            </div>
            {% endif %}
            </div>
        </div>
        </div>
        {% if product.right_block %}</td></tr>{% else %}</td>{% endif %}
        {% endfor %}
</table>
</div>

{% include "lfs/catalog/categories/product/products_navigation.html" %}
<script type="text/javascript">
$("body").attr('id', 'prod_list');
    function notebook_add_product(product_id){
        $.ajax({
            url: "/notebook/add-product/" + product_id + "/",
            dataType: "json",
            success: function(msg){
                $("#notebook_"+product_id).text("В блокноте");
                $("#notebook_"+product_id).attr("href",  "/notebook/");
            }
        });
    };
</script>