{% load i18n %}

<table class="table table-bordered table-striped">
    <tbody>
        <tr>
            <th colspan="2">
                {% trans 'Shipping info' %}: {{ shipping_method }}
            </th>
        </tr>
        {% for field in fields %}
        <tr>
                <td>
                    {{ field.name.title }}:
                </td>
                <td>
                    {{ field.value }}
                </td>
        </tr>
        {% endfor %}
    </tbody>
</table>