{% load url from future %}
{% load i18n %}
{% load l10n lfs_tags sshop_tags reviews_tags %}
{% load properties_tags %}
{% load lfs_portlets_tags %}
        {% load share_widget %}   
<div class="row-fluid prod-inline">
<div class="span12">
<p>{{ product_accessory.quantity|quantity }}</p>
<form id="product-form" action="{% url 'lfs.catalog.views.product_form_dispatcher' %}"
class="add-to-cart-form main-style" method="post">
{% csrf_token %}
<div class="row-fluid product-toolbar">
    <div class="span12"><h1 class="product-caption"><span itemprop="name">{{ product.get_name }}</span></h1>
    <div>Артикул: {{ product.sku }}</div>
    {% property_value_icons product %}
</div>
</div>
<div class="row-fluid product-detail">
    {# Images #}
    <div class="span4">
        <div class="span12 img-main">

        {% if product.get_image %}
        <a href="{{ product.get_image.image.url_400x400 }}" class="product-detail-lightbox colorbox product-image"
        rel="colorbox" title="{{ product.get_image.title }}">
        {% badges_for_product product %}
        <img src="{{ product.get_image.image.url_200x200 }}"
             alt="{{ product.get_image.title }}"
             class="product-image thumbnail"
             itemprop="image" />
    </a>
        {% else %}
        <img src="{{ STATIC_URL }}img/200x200.gif" alt="{{ product.get_image.title }}"
        class="product-image" />
    
        {% endif %}
        </div>
                <div class="row-fluid">
                    <div class="span12">
                    <div class="vertical-slider">
                    <ul class="thumbnails main-product">
                        {% for image in product.get_sub_images %}
                        <li>
                            <a href="{{ image.image.url_400x400 }}" class="colorbox thumbnail" rel="colorbox"
                            title="{{ image.title }}">
                    <img src="{{ image.image.url_60x60 }}"
                         alt="{{ image.title }}" />
                        </a>
                        </li>
                        {% endfor %}
                    </ul>
                    </div>
                 </div>
                </div>

            <div class="row-fluid">
                <div class="span6">
                    <div>{% average_for_instance product %}</div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                                <div class="pull-left">
                                    <a href="{% url 'lfs_product_question' product.id %}"
                                    id="id_ask_question" class="modal-link">
                                    {% trans "Ask the question" %}</a>
                                </div>
                </div>
                <div class="span6 ">
                     {% if product.id in request.session.comparison %}
                    <a href="{% url 'lfs_comparison' %}">{% trans "Added to compare" %}</a>
                    {% else %}
                    <a id="compare" href="javascript:compare_add_product({{ product.id }})">{% trans "Compare" %}</a>
                    {% endif %}
                </div>
            </div>

    </div>
    

    <div class="span4 product-price-prodlist">
        <div class="row-fluid">
            <div class="prices span5">
                {% if product.is_product_with_variants %}
                    <div class="product-price">
                    <span class="label label-info price standard-price-value" price="{{ product.price }}" currency="{{ currency.code }}">
                        {% cheapest_price product %}
                    </span>
                    </div>                
                {% else %}
                {% if product.get_for_sale %}
                    <div class="product-price discount-price-product">
                    <div class="product-price">{{ product.for_sale_price|floatformat:2 }}
                                    <span>{{ SHOP.default_currency.abbr }}</span></div>
                    <ul>
                    <li><div class="for-sale-price"><span class="instead">{% trans 'Instead' %}:</span><span class="span4price"> {% standard_price product %}</span></div></li>
                    <li><div class="for-sale-standard-price"><span class="instead">{% trans 'You save' %}:</span><span class="span4price"> {% price_difference product %}</span></div></li>
                    </ul>
                    </div>
                {% else %}
                    <div class="product-price">
                        {{ product.price|floatformat:2}}
                     <span>{{ SHOP.default_currency.abbr }}</span>
                    </div>
                {% endif %}
                {% endif %}
            </div>
            <div class="span7 status-prod">
                <span class="label-popover label {{ product.status.css_class }} pointer" data-content="{{ product.status.description|striptags }}" title="" data-original-title="{{ product.status.name }}">{{ product.status.name }}</span>
                {% if product.manage_stock_amount %}
                <span>{% trans "Stock amount:" %} {{ product.stock_amount }}
                {% if product.unit %}{{ product.unit }}{% endif %}</span>
                {% endif %}
                {% if product.manual_delivery_time %}
                {% trans "Delivery in" %} {{ product.delivery_time }}
                {% endif %}
            </div>
        </div>

        <div class="row-fluid">
        <div class="span5"></div>
        <div class="span7 cart-notebook">
                    <div>
                    {% if product.status.show_buy_button %}

                            <button style="height:50px;" class="btn btn-primary emphasized" type="submit" name="add-to-cart">
                                <i class="icon-shopping-cart icon-white">
                                </i> {% trans 'Add to cart' %}</button>
                    {% else %}
                        <button class="btn btn-primary emphasized"
                        onclick="window.location='{% url 'lfs_contact_form' %}'; return false"
                        name="">
                            <i class="icon-shopping-cart icon-white">
                            </i>
                            {% trans 'Send request' %}
                        </button>
                    {% endif %}
                    </div>
                    <div class="add-to-cart-form">
                    {% if product in request.session.notebook %}
                    <a id="notebook_{{ product.id }}" class="btn btn-info pull-left to-notebook" href="{% url 'lfs_notebook' %}">{% trans "В списке желаний" %}</a>
                    {% else %}
                    <a id="notebook_{{ product.id }}" class="btn btn-info to-notebook pull-left" href="javascript:notebook_add_product({{ product.id }})">В  список  желаний</a>
                    {% endif %}
                    </div>

        </div>
        </div>
        <div class="row-fluid short-desc-prod-inline-wrap">
            <div class="span12 short-desc-prod-inline">
                <div class="short-description">
                    <span itemprop="description">{{ product.get_short_description|safe}}<span>
                </div>
            </div>
        </div>

       <div class="row-fluid">
                <div class="span12">
                     <script type="text/javascript" src="//yandex.st/share/share.js"
            charset="utf-8"></script>
            <div class="yashare-auto-init" data-yashareL10n="ru"
             data-yashareType="none" data-yashareQuickServices="vkontakte,facebook,twitter,gplus"></div> 
                </div>
            </div>
    </div>



<div class="span4">
    <div class="row-fluid">
        <div class="span12">
                    
                    <div id="delivery">{% static_block "delivery" %}</div>        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
                    <div id="warranty">{% static_block "warranty" %}</div>
        </div>
    </div>
</div>



</div>
<input type="hidden" name="product_id" value="{{ product.id }}" />

{% if not product.is_product_with_variants %}
<div class="cart-toolbar">
<div class="row-fluid">
    <div class="span5">
        {% comment %}<div class="label label-info">{% trans 'Bages will be here' %}</div>{% endcomment %}
    </div>
</div>
{% endif %}
{% comment %}
<div class="row-fluid">
    <div class="span6 offset6">
        <div class="packing-result pull-right">
            {{ packing_result }}
        </div>
    </div>
</div>
{% endcomment %}
</div>


{# Variants #}
{% if product.is_product_with_variants or product.is_variant %}
    {% include variants_display_type_template %}
{% endif %}

<div class="row-fluid">
<div class="span12">

<div id="product-tabs">
<ul>
    {% with product.get_properties as p %}
    {% if not p %}
    <li></li>
    {% else %}
    <li><a href="#properties">{% trans "Характеристики" %}</a></li>
    {% endif %}

{% if product.has_description %}
    <li><a href="{% url 'lfs_product_description' product.slug %}"><span>{% trans "Description" %}</span></a></li>
{% endif %}
{% if product.has_accessories %}
    <li><a href="{% url 'lfs_product_accessories' product.slug %}"><span>{% trans "Accessories" %}</span></a></li>
{% endif %}
    <li><a href="{% url 'lfs_product_reviews' product.slug %}"><span>Отзывы</span></a></li>
</ul>
{% if not p %}

{% else %}
<div id="properties">
    {{ global_properties|safe }}
</div>
{% endif %}
    {% endwith %}
</div>

</div></div>

{# Attachments #} {% if attachments %}
<div class="row-fluid">
    <div class="span12">
        <div class="attachments">
            <h3 class="section">
                {% trans 'Attachments' %}
            </h3>
            {% for attachment in attachments %}
            <div class="item">
                <div class="title">
                    <a title="{{ attachment.title}}" href="{{ attachment.get_url }}">
            {{ attachment.title}}
        </a>
                </div>
                {% if attachment.description %}
                <div class="description">
                    {{ attachment.description }}
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{# Accessories #} {% if product_accessories %}
<div class="row-fluid">
    <div class="span12">
        <div class="accessories">
            <h3 class="section">
                {% trans 'Accessories' %}
            </h3>
            <table class="table table-striped table-bordered product-accessories lfs-default">
                <tr>
                    <th>
                    </th>
                    <th>
                        {% trans 'Name' %}
                    </th>
                    <th class="number">
                        {% trans 'Quantity' %}
                    </th>
                    <th class="number">
                        {% trans 'Price' %}
                    </th>
                    <th class="number last">
                        {% trans 'Total' %}
                    </th>
                </tr>
                {% for product_accessory in product_accessories %}
                <tr>
                    <td class="checkbox-left">
                        <input type="checkbox" name="accessory-{{ product_accessory.accessory.id }}"
                        />
                    </td>
                    <td>
                        <a href="{{ product_accessory.accessory.get_absolute_url }}">
                    {{ product_accessory.accessory.get_name|truncatewords_html:5 }}
                </a>
                    </td>
                    <td class="number">
                        <input type="hidden" name="quantity-{{ product_accessory.accessory.id }}"
                        value="{{ product_accessory.quantity }}" />
                        {{ product_accessory.quantity|quantity }}
                    </td>
                    <td class="number" nowrap="nowrap">
                        {% price product_accessory.accessory %}
                    </td>
                    <td class="number" nowrap="nowrap">
                        {% price product_accessory %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endif %}
</form>
</div>
</div>

<script type="text/javascript">
    function notebook_add_product(product_id){
        var id = $('#notebook').attr('portlet_assignment_id')
        link = "/notebook/add-product/" + product_id + "/"
        if (id != undefined)
        {
            link += id + "/"
        }
        $.ajax({
            url: link,
            dataType: "json",
            success: function(msg){
                $("#notebook_"+product_id).text("В блокноте");
                $("#notebook_"+product_id).attr("href", "{% url 'lfs_notebook' %}");
                if (id != undefined)
                {
                    $('#notebook')[0].innerHTML = msg['html']
                    mediator.publish('run_scripts_from', $('#notebook')[0].innerHTML)
                    page_designer.page_rebuild();
                }
            }
        });
    };

    function compare_add_product(product_id) {
        var id = $('#comparison').attr('portlet_assignment_id')
        link = "/comparison/add-product/" + product_id + "/"
        if (id != undefined)
        {
            link += id + "/"
        }
        $.ajax({
            url: link,
            dataType: "json",
            success: function(msg){
                $("#compare").text("Добавлен к сравнению");
                $("#compare").attr("href", "{% url 'lfs_comparison' %}");
                if (id != undefined)
                {
                    $('#comparison')[0].innerHTML = msg['html']
                    mediator.publish('run_scripts_from', $('#comparison')[0].innerHTML)
                    page_designer.page_rebuild();
                }
            }
        });
    };
</script>
